/* ==========================
   RESET STYLES
   ========================== */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   
/* ==========================
   GLOBAL STYLES
   ========================== */
   body{
      font-family: "Nunito", sans-serif;
      scroll-behavior: smooth;
      
   }

   a{
    text-decoration: none;
    cursor: pointer;
   }

   li{
    list-style: none;
    cursor: pointer;
   }

   button, i, img{
      cursor: pointer;
   }


/* ==========================
   HEADER PART STYLES
   ========================== */
.header-part{
    background-image: url(./assets/img/bg-masthead.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-part-opacity{
   background-color: rgba(5, 5, 5, 0.473);
   width: 100%;
   height: 100%; 
   padding: 30px 100px 0 100px;
}

/* 
========Nav PART========
*/
nav{
    display: flex;
    justify-content: space-between;
}

.header-tile{
    font-size: 30px;
    color: #d8d8d8;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 60px;
    color: #bebebe;
    font-weight: 400;
}

.nav-list li:hover{
    color: #ffffff;
}

/* ==========================
    BANNER PART STYLES
   ========================== */
/* 
========Banner PART========
*/
.banner-part{
    color: #d8d8d8;
    text-align: center;
    margin-top: 100px;
}

.banner-part h1{
    font-size: 155px;
    font-weight: 400;
    background: linear-gradient(to bottom, #ffffff, #00000018); 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.banner-part p{
   font-size: 20px; 
   max-width: 500px;         
   margin: 10px auto 40px auto;      
   text-align: center;     
   color: #b9b9b9; 
}

.banner-part button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background-color: #71a3a0;
    color: white;
    border-radius: 5px;
}


/* ==========================
    Main Section STYLES
   ========================== */
/* 
/* 
========Section PART 1========
*/
.section1{
    background: linear-gradient(to bottom, #000000f7, #0000008e); 
    width: 100%;
    height: 100%;
    padding: 150px 150px 0 150px;
}

.built-theme{
    justify-content: center;
    text-align: center;
}

.built-theme h3{
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.built-theme p{
   font-size: 18px;     
   text-align: center;     
   color: #828282; 
   max-width: 700px; 
   margin: 30px auto 100px auto;
}

.theme-img img{
    width: 100%;
    height: 100%;
}


/* 
========Section PART 2========
*/
.section2{
    display: flex;
    justify-content: center;
}

.sect2-parent-div{
   display: flex;
   align-items: center;
   text-align: center;
   width: 1000px;
   gap: 60px;
   margin: 100px 0 100px 0;
}

.sec2-img-container img{
    width: 650px;
    height: 400px;
    border-right: 10px solid#71a3a0;
}

.sec2-text-container h3{
    font-size: 25px;
    color: #212529;
    font-weight: 400;
    margin-bottom: 15px;
}

.sec2-text-container p{
    font-size: 17px;
    color: #5a5a5ade;
    font-weight: 400;
    line-height: 1.6;
}


/* 
========Section PART 3========
*/
.section-3 {
   margin: 100px 150px;
}

.sec3-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%; 
}

.sec3-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.sec3-card-text {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #fff;
}

.sec3-card-text h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.sec3-card-text p {
    max-width: 400px;
    font-size: 17px;
    margin: 0 90px;
    color: #b9b9b9;
}
