/* ==========================
   RESET STYLES
   ========================== */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   
/* ==========================
   GLOBAL STYLES
   ========================== */
   body{
      font-family: "Oswald", sans-serif;
      scroll-behavior: smooth;
      
   }

   a{
    text-decoration: none;
    cursor: pointer;
   }

   li{
    list-style: none;
    cursor: pointer;
   }

   button, i, img{
      cursor: pointer;
   }